*build*
!bin/buildblas
!*cibuild*
!*corehbuild*
!*fockbuild*
external/mxx
external/cxxblacs
external/blaspp
external/lapackpp/*
!external/lapackpp/patch
external/libint2*
external/libcint-*
external/libcint/*
!external/libcint/patch
external/openblas/include
external/openblas/lib
external/openblas/openblas-src
external/openblas/src
external/openblas/tmp
external/openblas/bin
external/openblas/Open*/
external/libxc/include
external/libxc/bin
external/libxc/lib
external/libxc/share
external/libxc/src
external/libxc/tmp
external/*-src
external/*-build
external/*-subbuild
external/umpire-*
doc
*.*.swp
*~

