*build*
!*corehbuild*
!*fockbuild*
external/mxx
external/cxxblacs
external/libint2*
external/openblas/include
external/openblas/lib
external/openblas/src
external/openblas/tmp
external/openblas/bin
external/openblas/Open*/
external/libxc/include
external/libxc/bin
external/libxc/lib
external/libxc/share
external/libxc/src
external/libxc/tmp
external/tiledarray/
doc
*.*.swp
*~

